h1 {
  background-color: blueviolet;
  color: black;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

section {
  background-color: rgb(226, 195, 43);
  color: black;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-direction: center;
  margin-top: 50px;
  background-color: aqua;
}
.flex-btn {
  background-color: brown;
}
.flex-form-input {
  flex: 1;
  -webkit-flex: 1;
  color: brown;
  border-radius: 3px;
}
.d-flex {
  display: flex;
}
.d-flex .container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
